@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: white; 
}    

.titulo-destaque {
    color: #22D4FD;
}

.apresentacao {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imagem {
    width: 488px;
    height: 550px;
}

.imagem:hover {
    border: 2px solid #22D4FD;
    border-radius: 16px;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column; 
    gap: 40px; 
    text-align:justify; 
}

.apresentacao__conteudo__titulo {
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
}

.apresentacao__conteudo__texto {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between; 
    flex-direction: column; 
    align-items: center; 
    gap: 32px; 
}

.apresentacao__links__subtitulo {
    font-family: 'Krona One', sans-serif; 
    font-size: 24px; 
  }

.apresentacao__links__link {
    /* background-color: #22D4FD; */
    display: flex; 
    justify-content: center;
    gap: 16px;
    width: 378px;
    border-radius: 8px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;  
    border: 2px solid #22D4FD;    
}

.apresentacao__links__link:hover {
    background-color: #272727;
    border: dotted #22D4FD;
    padding: 3%;
}

.rodape {
    padding: 24px;
    background-color: #22D4FD;
    color: black;    
}

